.testStyle {
    /* line-height: 39.3127px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* vertical-align: baseline;
    letter-spacing: normal; */
font-family:  sans-serif Helvetica Tahoma Helvetica Helvetica Bold;
Font: Helvetica Tahoma;
}